html {
    /* styling for html */
    margin: 2%;
    width: 90%;
    height: 100%;
    /* Set height, used for parallax banner image */
    background-color: #B6B1FF;
}

body {
    /* styling for body */
    margin: 1%;
    height: 80%;
    width: 100%;
    /* Set height, used for parallax banner image */
    background-color: #B6B1FF;

}


/* Styling for parallax effect banner image */
#home_banner {
    /* set background image */
    background-image: url("../Images/home_2.jpg");

    /* display as table for easier scalability */
    display: table;
    margin-left: auto;
    /* centers content */
    margin-right: auto;
    height: 70%;
    /* set width and height of the picture */
    width: 100%;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hook text */
.hooktext {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 2.5em; 
  }


/* To-top button */
.to_top {
    display: inline-block;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 3%;
    /* Place the button at the bottom of the page */
    right: 3%;
    /* Place the button 30px from the right */

    margin: 1.5%;
    padding: 1.5%;
    background-color: #D9ECB2;
    opacity: 0.6;
    /* Set a background color */
    color: white;
    /* Text color */

    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */

}

.to_top:hover {
    background-color: yellowgreen;
    /* Add a dark-grey background on hover */
}

/* To-top button */
.forms_to_top {
    display: inline-block;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 3%;
    /* Place the button at the bottom of the page */
    right: 3%;
    /* Place the button 30px from the right */

    margin: 1.5%;
    padding: 1.5%;
    background-color: #D9ECB2;
    opacity: 0.6;
    /* Set a background color */
    color: white;
    /* Text color */

    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */

}

.forms_to_top:hover {
    background-color: yellowgreen;
    /* Add a dark-grey background on hover */
}


h1 {
    font-family: Consolas, monaco, monospace;
    /* Custom fonts for headers */

    /*Font-Size Adjustment */
    font-size: 2.75em;
    position: relative;
}

h2 {
    font-family: Consolas, monaco, monospace;
    /* Custom fonts for headers */

    /*Font-Size Adjustment */
    font-size: 2.50em;
    position: relative;
}

h3 {
    font-family: Consolas, monaco, monospace;
    /* Custom fonts for headers */

    /*Font-Size Adjustment */
    font-size: 2.25em;
    position: relative;
}

ul {
    /*Font-Size Adjustment */
    font-size: 1.4em;
    position: relative;

}

.nested_list {

    /* Custom font for content*/
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*Font-Size Adjustment */

    position: relative;
    /*Ensures that position is relative */
    font-size: 30px;
    word-wrap: break-word;
    /*Ensures that words break apart to ensure that it does not go beyond the container */
}


li {
    /* Custom font for content*/
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*Font-Size Adjustment */

    position: relative;
    /*Ensures that position is relative */
    font-size: 30px;
    word-wrap: break-word;
    /*Ensures that words break apart to ensure that it does not go beyond the container */
}


.hotlines {
    /* Custom font for content*/
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*Font-Size Adjustment */

    position: relative;
    /*Ensures that position is relative */
    font-size: 25px;
    word-wrap: break-word;
    /*Ensures that words break apart to ensure that it does not go beyond the container */
}

p {
    /* Custom font for content*/
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
    /* Adjusted Font Size */
    font-size: 1.4em;
    
}



.formstext {
    /* Ensures position of text is relative to the container and centered */ 
    position: relative; /* Text is relative to container */
    text-align: center; /* Text is centered in container */
    font-size: 1.5em; /* Adjusted Font Size */
}

/* My own css
.searchbar {
    width: 15%;
    height: 25%;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
    border: 0%;
}*/




/* Start of dropdown box - "learn more about" #50C878*/

/* Dropdown Button Styling */
.dropbtn {
    /* Adjusted Background Color */
    background-color: #8F2FFF;
    color: white; /*Text Color */
    /* Text size and  box adjustments */
    padding: 1%;
    font-size: 1em;
    border: none;
    /* Changes the curser to a pointer when hovered over */
    cursor: pointer;
}

/* Within the FirstNav Container- needed to position the dropdown content */
.dropdown {
    /* Made display relative and in-line */
    position: relative;
    display: inline-block;

    /*Made dropdown bar flexible and scales to screen size */
    flex: 14.3%;
    height: auto;
    width: 120px;
}

/* Content Inside Dropdown (Default: Hidden) */
.dropdown-content {
    /* Styling the dropdown-contents, the 4 pages */
    display: none;
    position: absolute; /*Dropdown pages's position are fixed */

    /* Adjusted background color and styling of each of the dropdown bar content */
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Pages Links inside the dropdown */
.dropdown-content a {
    color: black;
    /*Display of the dropdown contents */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Dropdown links when hovered*/
.dropdown-content a:hover {
    /* Changing/updating background color */
    background-color: orange
}

/* Dropdown menu being displayed when hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Background color of dropdown button when hovered */
.dropdown:hover .dropbtn {
    /* Changing/updating background color */
    background-color: #3e8e41;
}

/* End of Dropdown box */

#header {
    /* Adjusting the header width and height */
    width: 100%;
    height: 10em;
    text-align: center;
    align-items: center;
    position: sticky; /* Making the header sticky */
}


.pageTitle {
    /* Adjusting the text placment of the website title inside the nav bar */
    text-align: center; /*centered text inside the nav bar */
    font-size: 3em; 
    /* Bolding the Text */
    font-weight: bold;
    position: relative;
}

/*CSS for special butttons */
/* Sign-Up Button */
#loginBtn {
    background-color: #F72FFF;
    color: white;
    flex: 14.3%; /*Made the nav bar links a single row if screen is larger than 800px width */
    /*Adjusted the nav bar links width and height */
    height: 40px;
    width: 120px;

}

/* Register Button */
#registerBtn {
    background-color: #FF2F9F;
    color: white;
    flex: 14.3%; /*Made the nav bar links a single row if screen is larger than 800px width */
    /*Adjusted the nav bar links width and height */
    height: 40px;
    width: 120px;
}

/* Contact Us Button */
#contactBtn {
    background-color: #FF8F2F;
    color: white;
    flex: 14.3%; /*Made the nav bar links a single row if screen is larger than 800px width */
    /*Adjusted the nav bar links width and height */
    height: 40px;
    width: 120px;
}

/*Register Page CSS */
.register {
    /*The headline/page title of the registration page */
    text-align: center;
}

.register_container {
    /* The register forms container */
    background-color: aliceblue;
    border-radius: 2%;
    width: 50%;
    margin-top: 8%;
    
    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 2%;
    padding: 2%;

    
}

.registerTable {
    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
}

/* Contact Page CSS */
.contacts {
    /*The headline/page title of the registration page */
    text-align: center;
}

.contacts_container {
    /* The Contacts forms container */
    background-color: aliceblue;
    border-radius: 2%;
    width: 50%;
    margin-top: 8%;

    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 2%;
    padding: 2%;

}

.contactsTable {
    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
}

/* Login Page CSS */
.login {
    /*The headline/page title of the registration page */
    text-align: center;

    font-size: 2.5em;
}

.login_container {
    background-color: aliceblue;
    border-radius: 2%;
    width: 50%;
    margin-top: 8%;

    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 2%;
    padding: 2%;



}

.loginTable {
    /*Made the forms container to scale to the screen size */
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;


}


/* Style the search box inside the navigation bar */
#searchbar input[type=text] {
    float: bottom;
    border: none;
    margin-right: 2%;
    font-size: 17px;

    height: 0.25em;

    flex-wrap: wrap;
    min-width: 40%;
    width: 60%;
}

#searchbar {
    /*Made the search bar in a single row if screen is larger than 800px width */
    flex: 14.3%;
    height: 4em;
    width: 12em;
}




.FirstNav {
    /* Made the text inside the navigation bar relative and centered */
    align-items: center;
    text-align: center;
    position: relative;

    overflow: hidden; /* hides the horizontal scroll*/
    overflow-y: auto; /* enables the vertical scroll*/
    
    background-color: #e9e9e9;
    height: 100%;
    flex-shrink: 0;



}

.navbtn1 {
    /*Made the nav bar button links in a single row if screen is larger than 800px width */
    flex: 14.3%;
    height: 40px;
    width: 120px;

}

#mainbtn {
    /*Adjusted the background color of the nav bar button */
    background-color: #6D63FF;
    color: white;
}

#helpbtn {
    /*Adjusted the background color of the nav bar button */
    background-color: #FF2F37;
    color: white;
}

#dropbtn {
    /*Adjusted the background color of the nav bar button */
    background-color: #8F2FFF;
    color: white;
}


.informativeContent {
    /*The div container containg of all of the content in the page, including the TOC */
    /* Made the content relative and scales to the screen size */
    position: relative;
    margin-top: auto;
    padding-top: auto;

}

.PageTOC {
    /* Adjusted, the margin, padding and border of the Table of Contents */
    margin: 2%;
    padding: 2%;
    border: 2%;

    /* Adjusted the color of the text and the background color of the TOC */
    color: red;
    background-color: whitesmoke;

    /* Adjusted the TOC container size */
    border-style: solid black;
    width: 85%;
    height: 75%;
    /*Made it so that words break if screen is to small - makes it responsive */
    word-wrap: break-word;


}


.TOCcontent {
    /*Adjusted the font size and font of the TOC texts */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;

    /*Adjusted the margin and width of the text in the TOC */
    margin: 2%;
    width: 95%;

    /*Made it so that words break if screen is to small - makes it responsive */
    word-wrap: break-word;
}

.footer {
    font-style: italic;
    /* set footer text to be italic */

    /*Adjusted the font size and font of the footer  texts */
    font-family: Consolas, monaco, monospace;
    font-size: 0.75em;
    text-align: center;
}

.formsfooter {
    /*Forces the footer to be at the bottom for the Login, registration and contact pages */
    font-style: italic;
    /* set footer text to be italic */

    /*Adjusted the font size and font of the Forms footer texts */
    font-family: Consolas, monaco, monospace;
    font-size: 0.75em;
    text-align: center;

}

/* The flex-container containing the links and buttons inside the Nav bar */
.flex-container {
    /* Made the display flexible and all flex items displayed in a row format */
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

    /*Adjusted height of the flex container */
    height: 30%;
}

/* All images*/
img {
    /*Adjusted the width and height of all images */
    height: 80%;
    width: 80%;
}

/* image container class for any hoverable images*/
.image_container {
    position: relative;
    /* set position of content to be relative */
    width: 100%;
}

/* set image button styling */
.image_btn {
    opacity: 1;
    /*  */
    display: block;
    /*  */
    margin-left: 0;
    margin-right: auto;
    width: auto;
    /* set width of button to be auto size */
    transition: .5s ease;
    /* set trasition effect speed, ease */
    backface-visibility: hidden;
    /* hide backface */

    height: 50%;
    width: 50%;
}

/* set hover button text styling */
.middle {
    transition: .5s ease;
    opacity: 0;
    /* hide text when not hover */
    position: absolute;
    /* set position as absolute */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    /* center align text */
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/* styling of button when hover*/
.image_container:hover .image_btn {
    opacity: 0.3;
}

/* styling of button text when hover */
.image_container:hover .middle {
    opacity: 1;
}

/* hover button styling*/
.hover_btn {
    /*Adjusted the font size and font position */
    text-align: center;
    opacity: 0.75;
    background-color: orange;
    font-size: 1.25em;
    padding: 16px 32px;
    /* set hover button padding */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box
}

input[type=text] {
    /*Adjusted all forms input fields that are text inputs -  padding and margin */
    padding: 3%;
    margin: 2.25% 0;
    /* add top and bottom margin */
    border-radius: 0.5em;
    width: 100%;
}

input[type=number] {
    /*Adjusted all forms input fields that are numbers inputs -  padding and margin */
    padding: 3%;
    margin: 2.25% 0;
    /* add top and bottom margin */
    border-radius: 0.5em;
    width: 100%;
}




/* Responsive Design for Screen width lesser than 800 px*/
@media only screen and (max-device-width: 800px) {

    /* To-top button */
    .to_top {
        display: inline-block;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 3%;
        /* Place the button at the bottom of the page */
        right: 7.5%;
        /* Place the button 30px from the right */

        margin: 0.5%;
        padding: 0.5%;
        background-color: #D9ECB2;
        opacity: 0.6;
        /* Set a background color */
        color: white;
        /* Text color */
        /*
    padding: 15px; /* Some padding */
        /*border-radius: 10px; /* Rounded corners */
        /*font-size: 18px; /* Increase font size */

    }



    #header {
        /* Readjusted the header width and height for smaller screen sizes*/
        width: 100%;
        height: 45%;

    }

    /* paragraph styling on device with width lesser than 800px */
    h1 {
    /*Readjusted font size for smaller screen */
        font-size: 2em;
        width: 90%;
    }

    h2 {
    /*Readjusted font size for smaller screen */
        font-size: 1.85em;
        width: 90%;
    }

    h3 {
    /*Readjusted font size for smaller screen */
        font-size: 1.7em;
        width: 90%;
    }

    ul {
    /*Readjusted font size for smaller screen */
        font-size: 1.3em;
        width: 90%;

    }

    .nested_list {
        /*Readjusted font size for smaller screen */
        font-size: 25px;

    }


    li {
    /*Readjusted font size for smaller screen */
        font-size: 25px;
    }


    .hotlines {
    /*Readjusted font size for smaller screen */
        font-size: 20px;
    }

    p {
    /*Readjusted font size for smaller screen */
        font-size: 1.2em;

    }


    .pageTitle {
    /*Readjusted font size for smaller screen */
        font-size: 2.5em;
    }

    .login {
        /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        width: 100%;
        word-wrap: break-word; /*Breaks sentences and word if the screen is too small */

    }

    .login_container {
    /*Readjusted the login form container smaller screen */
        border-radius: 3%;
        width: 85%;
        margin-top: 10%;
        border: 3%;
        padding: 3%;
    }

    .register {
        /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        width: 100%;
        word-wrap: break-word; /*Breaks sentences and word if the screen is too small */
    }

    .register_container {
    /*Readjusted the register form container smaller screen */
        border-radius: 3%;
        width: 85%;
        margin-top: 8%;
        border: 3%;
        padding: 3%;
    }

    .contacts {
        /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        width: 100%;
        word-wrap: break-word; /*Breaks sentences and word if the screen is too small */
    }

    .contacts_container {
    /*Readjusted the contact us form container smaller screen */
        border-radius: 3%;
        width: 85%;
        margin-top: 8%;
        border: 3%;
        padding: 3%;
    }

    .personal details {
        /* Readjusted the font size for the input subheader */
        text-align: center;
        width: 70%;
    }

    .formstext {
        /* Readjusted the font size for the input subheader */
        text-align: justify;
        font-size: 1.2em;
        width: 100%;

    }

    /* button styling on smaller screen */
    .btn {
        width: 25%;
        /* increased width and height */
        height: 25%;
        font-size: 0.65em;
        /* reduced font size */
    }

    .navbtn1 {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        flex-wrap: wrap;
        height: 60px;
        width: 180px;

    }

    #mainbtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        flex-wrap: wrap;
    }

    #helpbtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        flex-wrap: wrap;
    }

    #dropbtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        flex-wrap: wrap;

        height: 54%;
    }

    /* Sign-Up Button */
    #loginBtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        height: 60px;
        width: 180px;
        flex-wrap: wrap;
    }

    /* Register Button */
    #registerBtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        height: 60px;
        width: 180px;
        flex-wrap: wrap;
    }

    /* Contact Us Button */
    #contactBtn {
        /*Readjusted the nav bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 33.3%;
        height: 60px;
        width: 180px;
        flex-wrap: wrap;
    }

    #searchbar {
        /*Readjusted the search bar buttons to be larger when the screen size width is smaller than 800px */
        flex: 100%;
        height: 6em;
        width: 16em;
    }

    .img {
        /*Readjusted the size of images when the screen size width is smaller than 800px */
        width: 90%;
        height: 90%;
    }

    .flex-container {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

    }

}

/* Responsive Design for Screen width lesser than 400 px*/
@media only screen and (max-device-width: 400px) {

    /* To-top button */
    .to_top {
        display: inline-block;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 3%;
        /* Place the button at the bottom of the page */
        right: 10%;
        /* Place the button 30px from the right */

        margin: 0.5%;
        padding: 0.5%;
        background-color: #D9ECB2;
        opacity: 0.6;
        /* Set a background color */
        color: white;
        /* Text color */
        /*
    padding: 15px; /* Some padding */
        /*border-radius: 10px; /* Rounded corners */
        /*font-size: 18px; /* Increase font size */

    }

    /* paragraph styling on device with width lesser than 400px */
    h1 {
    /*Readjusted font size for smaller screen */
        font-size: 1.85em;
        width: 85%;
    }

    h2 {
    /*Readjusted font size for smaller screen */
        font-size: 1.7em;
        width: 85%;
    }

    h3 {
    /*Readjusted font size for smaller screen */
        font-size: 1.55em;
        width: 85%;
    }

    ul {
    /*Readjusted font size for smaller screen */
        font-size: 1em;
        width: 85%;

    }

    .nested_list {
        /*Readjusted font size for smaller screen */
        font-size: 17.5px;

    }


    li {
        /*Readjusted font size for smaller screen */
        font-size: 17.5px;

    }


    .hotlines {
        /*Readjusted font size for smaller screen */
        font-size: 20px;
    }

    p {
        /*Readjusted font size for smaller screen */
        font-size: 17.5px;
    }

    .pageTitle {
        /*Readjusted font size for smaller screen */
        font-size: 2.25em;
        text-align: center;
        width: 100%;
    }

    .login {
        /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        max-width: 100%;
        word-wrap: break-word;
    }

    .login_container {
    /*Readjusted the login form container smaller screen */
        border-radius: 5%;
        width: 90%;
        margin-top: 10%;
        border: 5%;
        padding: 5%;
        word-wrap: break-word;
    }

    .register {
    /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        max-width: 100%;
        word-wrap: break-word;
    }

    .register_container {
    /*Readjusted the register form container smaller screen */
        border-radius: 5%;
        width: 90%;
        margin-top: 10%;
        border: 5%;
        padding: 5%;
        word-wrap: break-word;
    }

    .contacts {
    /*Readjusted font size for smaller screen */
        font-size: 1.75em;
        text-align: center;
        max-width: 100%;
        word-wrap: break-word;
    }

    .contacts_container {
    /*Readjusted the contact us form container smaller screen */
        border-radius: 5%;
        width: 90%;
        margin-top: 10%;
        border: 5%;
        padding: 5%;
        word-wrap: break-word;

    }

    #myConcerns {
        /*Readjusted concerns input message box for screen size width smaller than 400px */
        width: 70%;
        max-width: 85%;
    }

    .personal details {
    /* Readjusted the font size for the input subheader */
        text-align: center;
        width: 70%;
    }

    .formstext {
    /* Readjusted the font size for the input subheader */
        text-align: justify;
        font-size: 1.5em;
        width: 100%;

    }
}
